
  <mat-card>
    <mat-card-content> 

        <span >
            
            <div fxLayout="row wrap" class="align-items-center m-b-15">
                <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                    <h3 class="m-0"></h3>
                </div>
                <div fxFlex.gt-md="75" class="text-right">
                    <a >
                        <button mat-stroked-button color="primary" class="m-r-10" routerLink="..">Show Devices</button>
                    </a>
                    
                </div>
            </div>


       <div>
            <hr />
            <div fxLayout="row wrap" class="align-items-center m-t-15 m-b-15">

                <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                    <span class="font-medium">
                        <h5 class="m-b-10 font-medium" >Telemetries' details </h5>                    </span>
                   
                </div>
                <div fxFlex.gt-md="75" class="text-right">
                    <span class="font-medium">
                        

                        <div fxFlex.gt-md="50" fxFlex.gt-lg="50" fxFlex="100"  >
                        <div *ngFor="let telem of telems" >
                            <h6 class="m-t-0 m-b-5"> name : {{telem.name}}</h6>
                            <h6 class="m-t-0 m-b-5"> Token : {{telem.token}}</h6>
                            <h6 class="m-t-0 m-b-5"> value : {{telem.value}}</h6>
                            <h6 class="m-t-0 m-b-5"> Time : {{telem.timestamp }}</h6>
                           
                           </div>
                        </div>

                    </span>
                   
                </div>
            </div>
            <hr />
            
            

                          
               
             

       

          
</div></span></mat-card-content></mat-card>
       