<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<app-top-card></app-top-card>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
   
    <!-- Column-->
  
    <!-- Column-->
</div>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->

